.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 6rem;

}

.nav-links li {
    font-size: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0a500;
}
